<!DOCTYPE html>
<html lang="en">
<head>
   
    <title>first vue js</title> 
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
    <div id="app">
        <input v-model="name"><br/>
   Hello <strong id="greeting">{{ name }}</strong>, this is my first vue!
        <ul>
            <li v-for="food in food_items">{{ food }}</li>
        </ul>
            <button v-on:click="buttonClick">click me!</button>
            </div>

            <script src="vue.js"></script>
            <link rel="stylesheet" href="styles.css">


            </body>
        </html>

